jenkins_home/
**/jenkins_home/

db_data/
**/db_data/
mysql_data/
**/mysql_data/

logs/
**/logs/
*.log

.DS_Store
Thumbs.db

*.pem
*.key
id_rsa
id_ed25519
**/.ssh/
remote-key
remote-key.*
remote-key.pub

docker-compose.override.yml

.env
.env.*

